<!DOCTYPE html>
{% load staticfiles %}
{% load my_extras %}
<html>
<head>
   <link rel= "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<div>
   form here
   <form method="post">
         {{formDct.as_p}}
         {% csrf_token %}
         <input type="submit" class="btn btn-primary" value="submit"/>
   </form>

</div>
</html>
