
<!DOCTYPE html>
{% load staticfiles %}
{% load my_extras %}
<html>
<head>
	<title>First Application</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
</head>
<body>
<h1>hello world from django :D </h1>
{% block content %}
 
{% for keyt, value in baseDict.items %}
<table border = "2">
	<tr>
	{% for  vv in value %}
		<td><h2>{{ vv }}</h2></td>
		{% endfor %}
		<td>
			<table border="2">
				{% with article1=queryDict|get_data_from_dict_key:keyt  %}
				{% with article2=queryDict2|get_data_from_dict_key:keyt  %}
				
 				
				 {% for  v in article1 %}
				
				 <tr><td><h3><i>this is v0={{ v.0 }}<br>this is v1={{ v.1 }}</i> </h3></td></tr>
				 
				 <br>
				 
				 {% endfor %}
				 {% for  v2 in article2 %}
				 <tr><td><h3> value:{{ v2.0 }} </h3><td/></tr> 
 				{% endfor %}
 				{% endwith %}
				{% endwith %}
			</table>
		</td>
	</tr>
</table>









{% endfor %}

{% endblock %}
<img src ="{% static "images/django.jpg" %}" alt="image not rendered">
<h3>{{insert_from_python}}</h3>
<h3><a href="{{ ajaira }}">links</a></h3>
</body>
</html>
