
<!DOCTYPE html>
{% load staticfiles %}
{% load my_extras %}
<html>
<head>
	<title>First Application</title>

</head>
<body>
   <div class="show_data">
      {% if AccessRecord %}
      <table>
         <thead>
            <th> Site Name </th>
            <th> Date </th>
         </thead>
         {% for acc in AccessRecord %}
         <tr>
            <td>{{ acc.name  }}</td>
            <td>{{ acc.date  }}</td>
         </tr>
         {% endfor %}

      </table>
      {% endif %}
   </div>
</body>
</html>
